* {
  box-sizing: border-box;
}

$font-stack: sans-serif;

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

body {
  font-family: $font-stack;
  color: #0f0c29;
}
